#LEN

Used to count the amount of existing data or the number of characters in srings

In [ ]:
ls=[1,2,3,4,5,1,3,2,4,1,4,5,5,0.124]

In [ ]:
len(ls)

14

In [ ]:
st='Tobias Mikha S'

In [ ]:
len(st)

14

In [ ]:
se={3,7,2,6,7,2,4,1,7,8,9,2,1,10,0.12,0.001}

In [ ]:
print(se)

{0.12, 1, 2, 3, 4, 6, 7, 8, 9, 10, 0.001}

In [ ]:
len(se)

11

#Min and Max

used to find the smallest and largest values ​​in a list

In [ ]:
a=[0.0125,0.11,0.23,1,2,4,5,1,2,3,1]

In [ ]:
min(a)

0.0125

In [ ]:
max(a)

5

When the list contains characters/strings, it will not be able to find the largest or smallest value

In [ ]:
b=['a','tob',1,2,3,4,5,9]

In [ ]:
min(b)

TypeError: ignored

#Count

Count is fuction to calculate a specific value

In [ ]:
c=[7,1,1,1,1,1,2,5,6,2,2,67,8,32,36,6,7,3,2,7,8,2,3,6]

In [ ]:
c.count(2)

5

The count function can also be used to find the number of letters or words that appear in a sentence in a string format

In [ ]:
sp='tobias mikha sulistiyo'

In [ ]:
sp.count('i')

4

#Join and Replication

For the concatenation function is like a mathematical operation but what is operated is a list

In [ ]:
f=[1,2,3,4,5]

In [ ]:
g=['d','a','t','a',1,2,3]

In [ ]:
f+g

[1, 2, 3, 4, 5, 'd', 'a', 't', 'a', 1, 2, 3]

Replication or repetition is to repeat the amount of data as much as desired. For replication operations use (*)

In [ ]:
g*2

['d', 'a', 't', 'a', 1, 2, 3, 'd', 'a', 't', 'a', 1, 2, 3]

In [ ]:
f*4

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
(f+g)*2

[1,
 2,
 3,
 4,
 5,
 'd',
 'a',
 't',
 'a',
 1,
 2,
 3,
 1,
 2,
 3,
 4,
 5,
 'd',
 'a',
 't',
 'a',
 1,
 2,
 3]

#Range

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

range(start,stop,step)

In [ ]:
for n in range(4):
  print(n)

0
1
2
3

Displays the results range from the beginning of the specified number (0 default) to end. Or in python the calculation is -1 of the desired list

In [ ]:
for n in range(4,8):
  print(n)

4
5
6
7

Displays the results range from the beginning of the specified number (0 default) to end with step.

In [ ]:
for n in range(4,15,3):
  print(n)

4
7
10
13

#In and Not In

To display the value in the list or variable data is true or false

In [ ]:
k=['n','i','c','a',1.221,3,6,1,2,4,6,1]

In [ ]:
1.221 in k

True

In [ ]:
'n' not in k

False

In [ ]:
v='my name is tobias mikha sulistiyo, my friends usually call me tobias/tob. The name tobias means that the goodness of god'

In [ ]:
'7' in v

False

In [ ]:
'tob' in v

True