#Operator, Operands, dan Expression

**Operator and Operands**
<p>Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.</p> 

**Expression**
<p>A sequence of operands and operators, like a + b - 5, is called an expression. Python supports many operators for combining data objects into expressions.</p>

###Arithmetic Operators

<p>Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.</p>

####Addition(+) 
<p> Used to add two operands or more, or used as unary plus.

In [ ]:
a = 25
b = 21
c = 29.5
d = 60

In [ ]:
a + b

46

In [ ]:
b + c + d

110.5

This operator not only used for numeric data types, but can also be used for string data types

In [ ]:
x = "Data "
y = "Science"

In [ ]:
x + y

'Data Science'

####Subtraction (-)
<p>Used to subtract right operand from the left or used as unary minus</p>

In [ ]:
a = 25
b = 21
c = 29.5
d = 60

In [ ]:
a - b

4

In [ ]:
d - c - a

5.5

Unlike the addition operator, this operator cannot be used to string data types

In [ ]:
x = "Data "
y = "Da"

In [ ]:
x - y

TypeError: ignored

####Multiplication (*)
<p>Used to multiply two operands or more

In [ ]:
a = 25
b = 21
c = 29.5

In [ ]:
a*b

525

In [ ]:
a*b*c

15487.5

This operator not only used for numeric data types, but can also be used for string data types to print as many string as multiplier number

In [ ]:
x = "Me"

In [ ]:
x*3

'MeMeMe'

####Division (/)
<p>Used to divide left operand by the right one. The result of the operation will always be float type

In [ ]:
m = 144
n = 36

In [ ]:
m/n

4.0

In [ ]:
type(m/n)

float

Unlike the multiplication operator, this operator cannot be used to string data types

In [ ]:
x = "Always"
y = "Al"

In [ ]:
x/y

TypeError: ignored

####Exponentiation (**)
<p>Left operand raised to power of right operand

In [ ]:
m = 4

In [ ]:
m**2

16

Unlike the multiplication operator, this operator cannot be used to string data types

In [ ]:
n = "day"

In [ ]:
n**5

TypeError: ignored

Tips:
<p> to find the root value, use decimal powers </p>

In [ ]:
25**0.5
#find the square root of the number 25

5.0

####Floor Division (//)
<p> Return the result of a division whose result is an integer adjusted to the left on the number line

In [ ]:
a = 22
b = 6

In [ ]:
a // b

3

This operator will return a result with a float if one of its operands is  float type

In [ ]:
c = 31.5
d = 7

In [ ]:
c // d

4.0

When the result of floor division (//) is positive, it is as though the fractional portion is truncated off, leaving only the integer portion. When the result is negative, the result is rounded down to the next smallest (greater negative) integer

In [ ]:
e = 25
f = -4

In [ ]:
e // f

-7

####Modulo (%)
<p>Used to return the remainder of the division of left operand by the right

In [ ]:
a = 22
b = 6

In [ ]:
a%b

4

In [ ]:
c = 31.5
d = 7

In [ ]:
c%d

3.5

###Comparison Operators
<p>Comparison operators are used to compare values. It returns either True or False according to the condition

####Greater than (>)
<p>Performs a comparison whether the first operand is greater than the second operand and returns a boolean value True or False

In [ ]:
a = 27
b = 29

In [ ]:
b > a

True

In [ ]:
a > b

False

This operator can also be used for string type comparisons

In [ ]:
"z" > "a"

True

In [ ]:
"b" > "n"

False

####Less than (<)
<p>Performs a comparison whether the first operand is less than the second operand and returns a boolean value True or False

In [ ]:
x = 33
y = 59

In [ ]:
x < y

True

In [ ]:
y < x

False

This operator can also be used for string type comparisons

In [ ]:
"m" < "o"

True

In [ ]:
"m" < "k"

False

####Equal to (==)
<p>Performs a comparison whether the first operand is equal to the second operand and returns a boolean value True or False

In [ ]:
a = 20
b = 20

In [ ]:
a == b

True

In [ ]:
x = 45
y = 44.5

In [ ]:
x == y

False

This operator can also be used for string type comparisons

In [ ]:
"a" == "a"

True

In [ ]:
"Python" == "PythoN"

False

####Not Equal to (!=)
<p>Performs a comparison whether the first operand is not equal to the second operand and returns a boolean value True or False

In [ ]:
a = 2022
b = 2021

In [ ]:
a != b

True

Like the other comparison operators, this operator can also be used for string type comparisons

In [ ]:
"No" != "NO"

True

####Greate than or equal to (>=)
<p>Performs a comparison whether the first operand is greater than or equal to the second operand and returns a boolean value True or False

In [ ]:
x = 28
y = 28

In [ ]:
x >= y

True

In [ ]:
89.5 >= 88

True

Like the other comparison operators, this operator can also be used for string type comparisons

In [ ]:
"Data" >= "Data"

True

In [ ]:
"PYTHON" > "python"

False

####Less than or equal to
<p>Performs a comparison whether the first operand is less than or equal to the second operand and returns a boolean value True or False

In [ ]:
m = 45
n = 42

In [ ]:
m <= n

False

In [ ]:
60 <= 60.1

True

Like the other comparison operators, this operator can also be used for string type comparisons

In [ ]:
"sunday" <= "sunday"

True

In [ ]:
"sunday" <= "monday"

False

**Note** :

<p>Some points to remember when using string comparison operators

<ul><li>The comparisons are case-sensitive, hence same letters in different letter cases(upper/lower) will be treated as separate characters</li>
<li>If two characters are different, then their Unicode value is compared (the character with the smaller Unicode value is considered to be lower)</li>

###Logical Operators
<p>In Python, Logical operators are used on conditional statements (either True or False). They perform Logical AND, Logical OR and Logical NOT operations

####Logical AND Operator
<p>Return True, only if both operands are true and return False if one or both operands are false </p>

In [ ]:
a = True
b = True
a and b

True

In [ ]:
x = True
y = False
x and y

False

In [ ]:
p = False
q = False
p and q

False

####Logical OR Operator
<p>Return True, if one or both of the operands are true and return False only if both operands are false</p>

In [ ]:
a = True
b = True
a or b

True

In [ ]:
x = True
y = False
x or y

True

In [ ]:
p = False
q = False
p or q

False

####Logical NOT
<p>Return True if operand is false (complements the operand)

In [ ]:
a = True
not a

False

In [ ]:
b = False
not b

True

###Assignment Operators
<p>Assignment operators are used in Python to assign values to variables

####=

In [ ]:
x = 5
#assign the value 5 to the variable x
print(x)

5

In [ ]:
y = "Python"
#assign the value "Python" to the variabel y
print(y)

Python

#### +=

In [ ]:
x = 5

In [ ]:
x += 10
# equivalent to x = x + 10
print (x)

15

####-=

In [ ]:
y = 20

In [ ]:
y -= 50
#equivalent to y = y - 50
print (y)

-30

####*=

In [ ]:
a = 20

In [ ]:
a *= 2
#equivalent to a = a*20
print (a)

40

####/=

In [ ]:
b = 10

In [ ]:
b /= 5
#equivalent to b = b/5
print (b)

2.0

####**=

In [ ]:
c = 3

In [ ]:
c **= 4
#equivalent to c = c**3
print (c)

81

####//=

In [ ]:
d = 34

In [ ]:
d //= 3
#equivalent to d = d//3
print (d)

11

####%=

In [ ]:
e = 21

In [ ]:
e %= 10
#equivalent to e = e%10
print (e)

1